
p {font-family:sans-serif;
  font-size: 25px;
  text-align: right;
color: rgb(238, 238, 238);  }
h1{
    font-family:sans-serif;
    font-size: 25px;
    color: rgb(111, 141, 123);  
  text-align:center;
}
table,th,td{
  border-style: groove;
  border-color: #d8d8d8 ;
  border-width: 20px;
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("fitness.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


    .login-form-container {
      background-color: white; 
      padding: 30px; 
      border-radius: 8px; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
      width: 400px; 
      text-align: center; 
    }

    .login-form-container h1 {
      margin-bottom: 20px;
      color: #333;
    }

    .login-form-container label {
      display: block;
      margin-bottom: 5px;
      color: #555;
      text-align: right; 
    }

    .login-form-container input[type="text"],
    .login-form-container input[type="password"] {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
    }

    .login-form-container button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: #97d8a5;
      color: white; 
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .login-form-container button:hover {
      background-color: #7dbd97; 
    }

    .login-form-container hr {
      border: 1px solid #a0d8a5;
      margin: 20px 0;
    }
    

